*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  width: 1140px;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Manrope',sans-serif;
}
input{
  cursor: pointer;
  outline: none;
  border: none;
  color: #000000;
}
select{
  border: none;
  outline: none;
  background: transparent;
}
button{
  border: none;
  cursor: pointer;
}